.body {
    background-color: rgba(92, 107, 118, 0.753);
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

.header {
    text-align: center;
    background-color: rgba(104, 157, 195, 0.753);
    border: 2px black solid;


}

.section_header {
    text-align: center;
    background-color: rgba(104, 157, 195, 0.753);
    border: 2px black solid;
}

.items {
    background-color: rgba(104, 157, 195, 0.753);
    width: fit-content;
    padding: 1px 20px;
    border: 2px black solid;
    float: left;
}

.float_right {
    float: right;
}

.float_left {
    float: left;
}

.picture_circle {
    border-radius: 50%;
    border: black solid;
}

.sections {
    height: 300px;

}

.images {
    margin: 30px;
    height: 140px;
    /* float: bottom; */
}

.portfolio_items {
    text-align: center;
    background-color: rgba(104, 157, 195, 0.753);
    border: 2px black solid;
}

.portfolio_items2 {
    text-align: center;
    background-color: rgba(92, 107, 118, 0.753);
    border: 2px black solid;
}

.quote {
    font-family: cursive;
    text-align: center;
    font-size: x-large;
}

.center {
    text-align: center;
}

.grid {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 20px;
}

.grid-item {
    text-align: center;
    background-color: lightgray;
    padding: 5px;
    margin-bottom: 5px;
    word-break: break-word;
}

.content {
    padding: 20px;
    flex-grow: 1;
}

.form_color {
    background-color: rgba(104, 157, 195, 0.753);
    ;
}

@media screen and (max-width: 900px) {
    .grid {
        display: block;
    }
}

.portfolio_pic {
    height: 300px;
    width: 300px;
}