.body {
    background-color: rgba(92, 107, 118, 0.753);
}

.header {
    text-align: center;
    background-color: rgba(104, 157, 195, 0.753);
    border: 2px black solid;

}

.section_header {
    text-align: center;
    background-color: rgba(104, 157, 195, 0.753);
    border: 2px black solid;
}

.items {
    background-color: rgba(104, 157, 195, 0.753);
    width: fit-content;
    padding: 1px 20px;
    border: 2px black solid;
    float: left;
    margin: 30px;
}

.float_right {
    float: right;
}

.float_left {
    float: left;
}

.picture_circle {
    border-radius: 50%;
}

.sections {
    height: 300px;

}

.images {
    margin: 30px;
    height: 140px;
    /* float: bottom; */
}

.portfolio_items {
    text-align: center;
    background-color: rgba(104, 157, 195, 0.753);
    border: 2px black solid;
}

.portfolio_items2 {
    text-align: center;
    background-color: rgba(92, 107, 118, 0.753);
    border: 2px black solid;
}

.quote {
    font-family: cursive;
    text-align: center;
    font-size: x-large;
}

.center {
    text-align: center;
}

/* .form_box_style { 
    border: 20px solid rgba(104, 157, 195, 0.753);
    padding: 10px;
    box-shadow: 0 0 15px 4px;
    border-radius: 20px;
    font-family: monospace;
}*/